<h1>Quản lý khách hàng</h1>
<div class="card">
  <h5 class="card-header d-flex justify-content-between">
     <div class="input-group justify-content-end">
                 <input type="text" placeholder="Tìm kiếm">
                    <a class="btn btn-outline-primary" href="#" role="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a> 
        </div>    
  </h5>
  <h4 class="card-header d-flex justify-content-end">
            <select class="custom-select" id="inputGroupSelect01" style="margin-right: 15px;">
                <option selected>Sắp xếp: Không sắp xếp</option>
                <option value="1">Tăng dần</option>
                <option value="2">Giảm dần</option>
                <option value="3">Lộn xộn</option>
            </select>
            <select class="custom-select" id="inputGroupSelect01" style="margin-right: 15px;">
                <option selected>Lọc: Tình trạng</option>
                <option value="1">Tăng dần</option>
                <option value="2">Giảm dần</option>
                <option value="3">Lộn xộn</option>
            </select>
            <select class="custom-select" id="inputGroupSelect01" style="margin-right: 15px;"> 
                <option selected>Theo:</option>
                <option value="1">Tăng dần</option>
                <option value="2">Giảm dần</option>
                <option value="3">Lộn xộn</option>
            </select>
  </h4>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <div class="card-body">
    <div class="row">
      {{#each this.khachhang}}
        {{!-- <div class="row"> --}}
          <div class="col-md-6">
            <div class="card border-left border-bottom border-right border-top">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-5 text-truncate">
                      <p class="card-text">Mã khách hàng:</p>
                      <p class="card-text">Tên khách hàng:</p>
                      <p class="card-text">Số điện thoại:</p>
                  </div>
                  <div class="col-7 text-truncate">
                    <p class="card-text">{{MaKhachHang}}</p>
                    <p class="card-text">{{TenKhachHang}}</p>
                    <p class="card-text">{{SDT}}</p>
                    <a class="btn btn-success float-right" href="/customers/{{MaKhachHang}}" role="button">
                  <i class="fas fa-edit "></i>
                </a> 
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        {{!-- </div> --}}
      {{/each}}
    </div>
  </div>
  {{/if}}
  <div class="card-footer text-muted">
    <a class="btn btn-outline-success float-right" href="/customerNew" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
        Thêm khách hàng
    </a>
  </div>
</div>