<h3>



<div class="containters">

<div class="row mt-3">
    <div  class="col">
        <a>
            <a href="{{backUrl}}" class="back-btn" role="link">
                <i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>  </a>
        </a>
        Chi tiết khách hàng
    </div>

{{#mathang}}
        <div class="col">
            <div class="float-right">
                <a>
                    <a href="/products/{{MaMatHang}}/modify" class="btn btn-info" id="modifySupplier" role="link">
                        Chỉnh sửa</a>
                </a>
            </div>
        </div>
    </div>
    </div>

    </h3>

    <br />

    <body>



    <div class="row">
        <div class="card">
            <div class="card-header" id="headInfoSupplier">
                <p>Thông tin mặt hàng</p>
            </div>


            <div class="card-body">

                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Mã mặt hàng
                    </div>
                    <div class="col-sm-8">
                        {{MaMatHang}}
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Tên mặt hàng
                    </div>
                    <div class="col-sm-8">
                        {{TenMatHang}}
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Đơn vị tính
                    </div>
                    <div class="col-sm-8">
                        {{DonViTinh}}
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Đơn giá
                    </div>
                    <div class="col-sm-8">
                        {{DonGia}}
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Loại
                    </div>
                    <div class="col-sm-8">
                        {{LoaiMatHang}}
                    </div>
                </div>

                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Xuất xứ
                    </div>
                    <div class="col-sm-8">


                        {{XuatXu}}
                    </div>
                </div>


                <br />
                <br />
                <div class="row" id="infoSupplier">
                    <div class="col-sm-4">
                        Hình ảnh
                    </div>
                    <div class="col-sm-8">

                    </div>
                </div>



            </div>

        </div>
    </div>


    <br />

    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="containers">
                    <div class="text-left">
                        <form method="post" action="/products/{{MaMatHang}}/delete">
                            <button  class="btn btn-danger" id="removeSupplier" type="submit">
                                Xóa mặt hàng
                            </button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
{{/mathang}}

<style>
    #headInfoSupplier {
        border-bottom: 3px solid whitesmoke;
        padding-bottom: 3px;
        font-size: 20px;
        font-weight: bold;
    }

    #infoSupplier {
        border-bottom: 3px solid whitesmoke;
        padding-bottom: 25px;
        font-size: 14px;
        font-weight: bold;
    }

    #modifySupplier {
        margin-right: 0px;
    }

    #removeSuplier {
        border-bottom: 3px solid whitesmoke;
        font-size: 12px;
        margin-right: 0px;
    }
</style>

<script>
    if (performance.navigation.type==2) {
        location.reload();
    }
</script>
</body>