<h1>Quản lý mặt hàng</h1>
<div class="card position-relative">
    <h5 class="card-header d-flex justify-content-between">
        <div class="input-group justify-content-end">
            <input type="text" placeholder="Tìm kiếm">
            <a class="btn btn-outline-primary" href="#" role="button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </div>
    </h5>
    <h4 class="card-header d-flex justify-content-end">
        <select class="custom-select" id="inputGroupSelect01" style="margin-right: 15px;">
            <option selected>Loại : Tất cả</option>
            <option value="1">Loại 1</option>
            <option value="2">Loại 2</option>
            <option value="3">Loại 3</option>
        </select>
        <select class="custom-select" id="inputGroupSelect01" style="margin-right: 15px;">
            <option selected>Tình trạng: Tất cả</option>
            <option value="1">T.trạng 1</option>
            <option value="2">T.trạng 2</option>
            <option value="3">T.trạng 3</option>
        </select>
        <select class="custom-select" id="inputGroupSelect01" style="margin-right: 15px;">
            <option selected>Sắp xếp: Không</option>
            <option value="1">Tăng dần</option>
            <option value="2">Giảm dần</option>
        </select>
    </h4>


    <div class="row">
    {{#mathang}}
        <!--Test part-->

        <div class="card col-4  text-center mx-1" style="width: 18rem">
            <img class="card-img-top " src="" alt="Product">
            <div class="card-header">
                <h5 class="card-title font-weight-bold">{{TenMatHang}}</h5>
                <p class="card-text">{{MaMatHang}}</p>
            </div>
            <div class="card-body align-content-center">
                <div class="text-center">
                    <table class="table-responsive  table-borderless font-weight-light">
                        <thead>
                        <tr>
                            <th >Tình trạng</th>
                            <th >Giá bán</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{TinhTrang}}</td>
                            <td>{{DonGia}}</td>
                        </tr>

                        </tbody>

                        <thead>
                        <tr>
                            <th >Tồn kho</th>
                            <th >Đơn vị tính</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td >{{SoLuong}}</td>
                            <td>{{DonViTinh}}</td>
                        </tr>
                        </tbody>
                        <thead>
                    </table>
                    <div class="dropdown-divider"></div>
                    <a class="btn btn-success btn-pill btn-sm align-content-stretch" href="/products/{{MaMatHang}}" role="button">
                        Xem chi tiết
                    </a>
                </div>

            </div>
        </div>
        <!--Test part-->
    {{/mathang}}
</div>
    <div class="card-footer text-muted position-fixed rounded-pill bottom-0 right-0 mb-7 mr-5 p-0">
        <a class="btn btn-outline-success btn-pill " href="/products/productNew" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm mới
        </a>
    </div>
</div>
