
<h1>
    Quản lý nhà cung cấp
</h1>


<div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="input-group justify-content-end">
                <input type="text" placeholder="Tìm kiếm">
                <a class="btn btn-outline-primary" href="#" role="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<br />


<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Loại : Tất cả</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Tình trạng : Tất cả</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Sắp xếp : Không sắp xếp</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
</div>
<br />
<div class="row">
    {{#each Supplier}}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Mã nhà cung cấp:</p>
                            <p>Tên nhà cung cấp:</p>
                            <p>Địa chỉ nhà cung cấp:</p>
                            <a href="/suppliers/{{MaNhaCungCap}}" class="btn btn-primary" role="button">-></a>
                        </div>
                        <div class="col-sm-6">
                            <p>{{MaNhaCungCap}}</p>
                            <p>{{TenNhaCungCap}}</p>
                            <p>{{DiaChi}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<div class="card-footer text-muted position-fixed rounded-pill bottom-0 right-0 mb-7 mr-5 p-0">
    <a class="btn btn-outline-success btn-pill " href="/suppliers/supplierNew" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Thêm mới
    </a>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="suppliers?page={{PreviousPage}}&itemperpage=2">{{PreviousPage}}</a></li>
        <li class="page-item active"><a class="page-link"  href="suppliers?page={{CurrentPage}}&itemperpage=2">{{CurrentPage}}</a></li>
        <li class="page-item"><a class="page-link" {{DisplayPage NextPage TotalPage}} href="suppliers?page={{NextPage}}&itemperpage=2">{{NextPage}}</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>




